annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
build==1.6.1
certifi==2026.7.22
cffi==2.1.1
click==8.5.0
colorama==0.4.6
cryptography==49.0.0
fastapi==0.141.1
h11==0.16.0
hatchling==1.32.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
more-itertools==11.1.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyproject_hooks==1.2.0
pytest==9.1.1
pytest-asyncio==1.4.0
pywin32-ctypes==0.2.3
referencing==0.37.0
rpds-py==2026.6.3
ruff==0.16.7
starlette==1.6.0
tomlkit==0.15.1
trove-classifiers==2026.6.1.19
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4

tzdata==2026.4

websockets==16.1.1
pysolarmanv5==3.0.6
umodbus==1.0.4
pyserial==3.5
